<div class="uk-height-1-1">
  <% screenplays.each do |screenplay| %>
    <div class="screenplay-index-row uk-clearfix">
      <div class="screenplay-row-action link-container uk-float-left">
        <div class="grid-button">
          <%= link_to screenplay_workspace_path(screenplay), class: "padded" do %>
            <div class="screenplay-link-title">
              <%= screenplay.title || "Untitled" %>
            </div>
            <div class="screenplay-link-updated-at">
              <%= "Last updated: #{screenplay.updated_at}" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="screenplay-row-action delete-button-container uk-float-left">
        <div class="grid-button">
          <%= link_to screenplay_path(screenplay),
            class: "padded",
            method: :delete,
            title: "Delete screenplay",
            data: { confirm: "Are you sure you want to delete #{screenplay.title}?" } do %>
            <i class="uk-icon-trash-o"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="grid-button new-screenplay-button-container">
  <%= button_to screenplays_path,
    title: "Create screenplay",
    form_class: "new-screenplay-button" do %>
    <i class="uk-icon-plus"></i>
  <% end %>
</div>
