<!DOCTYPE html>
<html class="uk-height-viewport">
  <head>
    <title>Script it.</title>
    <%= favicon_link_tag env_favicon %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="uk-height-1-1">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
